[Unit]
Description=aria2
After=network.target

[Service]
Type=simple
WorkingDirectory=[你存放的路径]
ExecStart=/usr/bin/java -jar [你存放的路径]/aria2-boot-1.0-SNAPSHOT.jar -Dspring.config.location=[你存放的路径]/application.yaml
ExecStop=/usr/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
